{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <form class="cd-form floating-labels"  method="post" action=".">
    <div class="error-message">
        <p>Введите имя пользователя и пароль</p>
    </div>
    
   
    <fieldset>
        <div class="icon">
             {% csrf_token %} {{ form.as_p }}            
            <input  type="submit"  required value="{% trans 'Войти' %}">
            <input class="input" required type="hidden" name="next" value="{{ next }}">
        </div> 
        <p>{% trans "Забыли пароль" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Получить пароль" %}</a>!</p>
      <p>{% trans "Зарегистрироватся" %}? <a href="{% url 'registration_register' %}">{% trans "Новый пользователь" %}</a>!</p>
    </fieldset>
</form>


{% endblock %}



