#facts {
  background: #5a5a5a;
  padding: 80px 0 60px 0;
}

#facts .row-counters span {
  font-size: 48px;
  display: block;
  color: #2dc997;
  text-align: center;
}

#facts .row-counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}
.row-counters{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
        text-align: center;
    margin-left: -15px;
}