<!DOCTYPE html>
{% load staticfiles%}
{% load i18n %}

<html lang="en">       

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="{% static 'form/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'form/css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Профиль</title>
</head>
<body>

<head>
       
             
    
    <title>{% block title %}User test{% endblock %}</title>
</head>


        
                <div class="container">
                    <div class="row register_page">
                    <nav class="navbar navbar-default navbar-fixed-top navig">
                        <div class="container">
                           
                            <div id="header">
                                {% block header %}
                                
                            
                                {% if user.is_authenticated %}
                                    {% trans "Logged in" %}: {{ user.username }} 
                                    (<a href="{% url 'auth_logout' %}">{% trans "Выйти" %}</a> | 
                                    <a href="{% url 'auth_password_change' %}">{% trans "Изменить пароль" %}</a>)
                                {% else %}
                                <a href="{% url 'auth_login' %}">{% trans "Войти" %}</a>
                                {% endif %}
                      
                                {% endblock %}
                            </div>
                          
                            </div>
                            </nav>
                                
                            <div id="content">
                                <div class="well well-sm">
                                     {% block content %}{% endblock %}
                                </div>
                                
                            </div>
                                
                            <div id="footer">
                                {% block footer %}
                         
                                {% endblock %}
                            </div>
                        </div>                                
                </div>           
                
                    <script src="{% static 'form/js/jquery-2.1.1.js' %}"></script>
                    <script src="{% static 'form/js/main.js'%}"></script> <!-- Resource jQuery -->
</body>
</html>
